nav#menuPrincipal.show
	a#menuSwitch(title="Menu")
		svg#iconShowMenu(width="70",  height="70")
			path(d="m 10,15 25,0 25,0 m -50,20 25,0 25,0 m -50,20 25,0 25,0",
			style="fill:none;stroke:#000000;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;")
				animate(attributeName="d",
				to="m 10,15 25,0 25,0 m -50,20 25,0 25,0 m -50,20 25,0 25,0",
				from="m 10,50 25,-30 25,30 m -50,0 25,-30 25,30 m -50,0 25,-30 25,30",
				dur="1s", begin="indefinite", fill="freeze")
				animate(attributeType="CSS", attributeName="stroke-width", from="14", to="10", dur="1s", begin="indefinite", fill="freeze")
		svg#iconHideMenu(width="70",  height="70")
			path(d="m 10,50 25,-30 25,30 m -50,0 25,-30 25,30 m -50,0 25,-30 25,30",
			style="fill:none;stroke:#000000;stroke-width:14;stroke-linecap:round;stroke-linejoin:round;")
				animate(attributeName="d",
				from="m 10,15 25,0 25,0 m -50,20 25,0 25,0 m -50,20 25,0 25,0",
				to="m 10,50 25,-30 25,30 m -50,0 25,-30 25,30 m -50,0 25,-30 25,30",
				dur="1s", begin="indefinite", fill="freeze")
				animate(attributeType="CSS", attributeName="stroke-width", from="10", to="14", dur="1s", begin="indefinite", fill="freeze")
	a(href="/#accueil") Accueil
	a(href="/#roles") Rôles
	a(href="/#libertes") Libertés
	a(href="/#fonctionnement") Fonctionnement
	a Adhérer
	a(href="/#contact") Contact
	//- a Projets
	script
		include:coffee-script(bare=true) ../js/menu.coffee
